.mainImg {
    width: 40%
}

.article {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
}

.description {
    width: 40%;
}

.buttonPanier {
    background-color: #f0c14b;
    border: 1px solid;
    border-radius: 2px;
    border-color: #a88734 #9c7e31 #846a29;
    padding-top: 5px;
    padding-bottom: 5px;
}