.footerarea{
    background-color: #306A5B;
    width: 100%;
    min-height: 200px;
    color: whitesmoke;
}

.footerarea__top{
    background-color: #1D5648;
    min-height: 60px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.footerarea__links{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 25px;
}

/* .footerarea__linkarea{
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
} */

.footerarea__linkarea > p{
    font-size: 12px;
    margin-bottom: 10px;
}

.footerarea__linkarea > a > p{
    color:white;
    text-decoration: none;
    cursor: pointer;
    font-size: 10px;
    margin-top: 5px;
}

.footerarea__linkarea > a:hover > p{
    text-decoration: underline;
}