.home {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

.home .home--products {
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
    width: 100%;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .home .home--products > * {
        width: 42%;
        margin: 10px;
    }
}

@media screen and (min-width: 1024px) {
    .home .home--products > * {
        width: 25%;
    }
}

.home__carousel{
    height: 600px;
    margin-bottom: -150px;
}

.home__carousel__image{
    width: 100%;
    height: 100%;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.home__row{
    display: flex;
    z-index: 1;
    margin-right: 5px;
    margin-left: 5px;
}

.home__carousel__image .home__carousel__left {
    flex: 5%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.6);
    display: grid;
    place-items: center;
    color: white;
    cursor: pointer;
}


.home__carousel__image .home__carousel__center {
    flex: 80%;
    height: 100%;
    display: grid;
    place-items: center;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    text-align-last: center;
}

.home__carousel__image .home__carousel__right {
    flex: 5%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.6);
    display: grid;
    place-items: center;
    color: white;
    cursor: pointer;
}